<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frustaci, una empresa falimiar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header id="header">
        <!--Logo + menu de navegación-->
        <nav class="navegador">
            <div class="logo">
                <h1><a href="../index.html">Frustaci</a></h1>
            </div>
            <div class="menu" id="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html" class="activo">Galeria</a></li>
                    <li><a href="presupuesto.html">Presupuesto</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>

        <div class="boton-menu">
            <button id="close">
              <i class="fas fa-times"></i>
            </button>
            <button id="open">
              <i class="fas fa-bars"></i>
            </button>
        </div>

        <div class="menu-hamburguesa" id="menu-hamburguesa">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" class="activo">Galeria</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>

    </header>

    <main class="main-productos">          
        <!--Etiqueta contenedora vino tinto-->
        <section class="seccion-tinto">
            <div class="titulo-t">
                <h2>VINO TINTO</h2>
            </div>
            <!--Galeria de imagenes-->
            <div class="tinto">
                <div class="t1 vt">
                    <img src="../images/vino1.jpg" alt="Valdejimena">
                    <p class="nombre">Valdejimena</p>
                </div>

                <div class="t2 vt">
                    <img src="../images/vino2.jpg" alt="Don Miguel">
                    <p class="nombre">Don Miguel</p>
                </div>

                <div class="t3 vt">
                    <img src="../images/vino3.jpg" alt="Mingshi Ronald">
                    <p class="nombre">Mingshi Ronald</p>
                </div>
                
                <div class="t4 vt">
                    <img src="../images/vino4.png" alt="E`iss">
                    <p class="nombre">E`iss</p>  
                </div>

                
            </div>
        </section>
        
        <!--Etiqueta contenedora vino blanco-->
        <section class="seccion-blanco">
            <div class="titulo-b">
                <h2>VINO BLANCO</h2>
            </div>
            <!--Galeria de imagenes-->
            <div class="blanco">

                <div class="vb">
                    <img src="../images/vinob1.jpg" alt="">
                    <p >Tamish</p>
                </div>

                <div class="vb">
                    <img src="../images/vinob2.jpg" alt="">
                    <p >William</p>
                </div>

                <div class="vb">
                    <img src="../images/vinob3.jpg" alt="">
                    <p >Montagu</p>

                </div>
                
            </div>
        </section>
    </main>



    <footer class="fin">

        <div class="redes-sociales">
            <p>Seguinos en nuestras redes sociales:</p>
            <div class="redes-content">
                <a href="https://es-es.facebook.com/">
                    <img src="../images/facebook.png" alt="facebook" class="iconoF">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="../images/instagram.png" alt="instagram" class="iconoI">
                </a>
            </div>
        </div>
        <div class="copy-ubicacion">

            <p>&copy; Frustaci - 2023 | Todos los derechos reservados</p>
            <p>Ubicacion: <a href="https://goo.gl/maps/pu9de5rHUd3ZGuiF7">Catanzaro, Italia</a></p>
        </div>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>